@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v27-latin-300.woff2') format('woff2'),
       url('../fonts/roboto-v27-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v27-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v27-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v27-latin-700.woff') format('woff');
}


html {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', 'Arial', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #117a6c;
}

.maket {
  height: 585px;
  color: black;
  max-width: 655px;
  margin-left: auto;
  margin-top: 160px;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  object-fit: cover;
  background-size: 653px 500px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: 0 230px;
  background-image: url(../img/bicycle.png);
}

.total_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simple {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  padding-top: 50px;
  align-items: center;
  justify-content: space-between;
}

.simple_h1 {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
}

.simple_img {
  width: 40px;
  height: 40px;
}

.simple_p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: rgb(178, 187, 196);
}

.single, .gel {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 18px;
  font-weight: 400;
  color: #787a7a;
  font-style: normal;
}

.span {
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
}

.total {
  align-items: center;
  justify-content: space-between;
}

.total_h2 {
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
}


